#header {
    background: url('../img/astrology-astronomy-background-image-956981.jpg') center center / cover no-repeat;
}

.text-outline {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* Set width to make card deck cards 100% width */
@media (max-width: 992px) {

    .card-deck-wrapper {
        margin-right: 0;
        margin-left: 0;
    }

    .card-deck {
        display: block;
        width: 100%;
        margin-bottom: .75rem;
        table-layout: fixed;
        border-spacing: 1.25rem 0;
    }

    .card-deck .card {
        display: block;
        margin-bottom: .75rem;
        vertical-align: top;
    }

    .card-deck .card:not(:first-child) {
        margin-left: 0px;
    }

}